
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin:0;


}

p{
  font-size: 1rem;
}

/* style.css */
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}

h2{
  color: #4A6159;
text-align: center;
font-family: SF Pro Text;
font-size: 1.75rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}

h4{
  color: #4A6159;
text-align: center;
font-family: SF Pro Text;
font-size: 1.0625rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}


.backWel{
    background-color: #4A6159;
    color: #fff;
    
}


